<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=5.0, minimum-scale=0.1">
    <title>window_demo</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/demostyle.css' />
    <title>demo2</title>
</head>
<body>
    <h1 class="h1">DEMO2:按钮</h1>
    <hr>
    <input type="button" class="btn btn-default btn-xs" value="按钮1"/>
    <input type="button" class="btn btn-group btn-sm" value="按钮2"/>
    <input type="button" class="btn btn-info btn-lg" value="按钮3"/>
    <input type="button" class="btn btn-primary btn-group-vertical" value="按钮4"/>
    <input type="button" class="btn btn-success btn-link" value="按钮5"/>
    <input type="button" class="btn btn-danger btn-block" value="按钮6"/>
    <br>
    <a href="#" class="btn btn-group btn-group-lg active" role="button">连接元素1</a>
    <a href="#" class="btn btn-group btn-group-sm active disabled" role="button">连接元素2</a>
    <br>
    <button class="btn btn-success">button元素1</button>
</body>
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
</html>