/* demo文件的CSS样式 */

/*************************************** demo1 CSS start *********************************************/
/*DIV通用*/
div.normal_div {
    width: 100%;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    font-size: medium;
}

/*table通用*/
.normal_table {
    width: 50%;
    height: 100px;
}

/*标题行*/
.title {
    height: 35px;
    margin-bottom: 10px;
    border: lightskyblue 1px solid;
    text-align: left;
    background-color: #dedcff;
    color: red;
}

/*“订单编号”行*/
.order_no{
    height: 40px;
    border: lightskyblue 1px solid;
    text-align: center;
    background-color: #dedcff;
}

/*节点示例行*/
div.node_exp {
    height: 80px;
    border: lightskyblue 1px solid;
    padding: 10px 25%;
}

/*详细环节行*/
.line_detail {
    border: lightskyblue 1px solid;
    background-color: #dedcff;
}

/*节点图标*/
span.node {
    width: 29px;
    height: 29px;
    display: block;
    background: url("../images/processes-icon.gif");
}

/*“原始节点”*/
span.raw_node {
    background-position: 0 -29px;
}

/*“成功节点”*/
span.success_node {
    background-position: 0 0;
}

/*连接节点*/
.node_flow span.link_node {
    width: 52px;
    height: 12px;
    display: inline-block;
    background: url("../images/loadpont.gif");
}

/*************************************** demo1 CSS end *********************************************/